/* Color scheme
GREEN
Sea Green: #33915F
Dark Green: #011C0E
Feldgrau: #436352
Forest Green: #114F2E
Emerald: #2DC272
Spring green: 2AFA8B
https://coolors.co/33915f-011c0e-436352-114f2e-2dc272-2afa8b

PURPLE
Palatinate Purple: #4F1852
Dark Purple: #200221
Fuchsia: #DF3AE8
Mardi Gras: #821C87
Purpureus: #9C43A1
Fuchsia Crayola: #CD57D4

BLUE
Light Sea Green: #08A8A8
Celadon green: #3E8080
Electric Blue: #92F0F0
Vegas Gold: #D6BA73


*/

body{
  font-family: "Maitree";
  background-color: white;
}
h1{
  font-family: 'Julius Sans One', sans-serif;
  border: solid 3px #DF3AE8;
  border-radius: 3px;
  font-size: 48px;
}
h2{
  font-family: 'Julius Sans One', sans-serif;
  border: solid 2px #DF3AE8;
  border-radius: 3px;
  font-size: 40px;
}
h3{
  font-family: 'Julius Sans One', sans-serif;
  border: solid 1px #DF3AE8;
  border-radius: 3px;
  font-size: 32px;
}
a:link{
  color: #9C43A1;
}
a:visited{
  color: #4F1852;
}
img{
  width:25vw;
  /* margin:2px; */
}
