/* Color scheme
GREEN
Sea Green: #33915F
Dark Green: #011C0E
Feldgrau: #436352
Forest Green: #114F2E
Emerald: #2DC272
Spring green: 2AFA8B
https://coolors.co/33915f-011c0e-436352-114f2e-2dc272-2afa8b

PURPLE
Palatinate Purple: #4F1852
Dark Purple: #200221
Fuchsia: #DF3AE8
Mardi Gras: #821C87
Purpureus: #9C43A1
Fuchsia Crayola: #CD57D4

BLUE
Light Sea Green: #08A8A8
Celadon green: #3E8080
Electric Blue: #92F0F0
Vegas Gold: #D6BA73


*/
@media screen and (min-width:800px){
  #galleryPics{
  display: grid;
  grid-template-areas:
    "square1 tall1 tall2"
    "tall3 tall1 tall2"
    "tall3 tall4 tall2"
    "tall3 tall4 square2"
;
  }
}

@media screen and (max-width: 801px){
  #galleryPics{
  display: grid;
  grid-template-areas:
    "square1 tall1"
    "tall2 tall1"
    "tall2 tall1"
    "tall3 tall4"
    "tall3 tall4"
    "tall3 square2";
  }
}
body{
  font-family: "Maitree";
  background-color: white;
}
h1{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 48px;
}
h2{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
}
h3{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 32px;
}
h4{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 26px;
}
h5{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
}
h6{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 14px;
}
a:link{
  color: #08A8A8;
  text-decoration: none;
}
a:hover{
  color: #08A8A8;
  text-decoration: underline;
}
a:visited{
  color: #3E8080;
}
img{
  width:25vw;
  /* margin:2px; */
}
hr.top{
  width: 30%;
  margin-left: 0px;
  margin-bottom:0px;
  border-top: 2px dashed #92F0F0;
  /* border: 1px solid pink; */
}
hr.mid{
  margin-top:2px;
  margin-bottom:2px;
  border-top: 1px solid #92F0F0;
}
hr.bottom{
  width: 30%;
  margin-right: 0px;
  margin-top:0px;
  border-top:2px dashed #92F0F0;
}
button{
  background-color: #92F0F0;
  font-family:"Maitree";
  font-size: 12px;
  border-radius: 7px;
  margin:10px;
  padding:7px 20px;
  border-style:outset;
  /* top and bottom correspond to first, left and right corresponds to second */
}

button:active{
  background-color: #D6BA73;
}
button:hover{
  background-color: #3E8080
}

#clicked{
  background-color: #D6BA73;
  font-size:10px;
}

#galleryPics img{
  object-fit:cover;
   /* Will crop and fill instead of stretch  */
  width:100%;
  height:100%;
}
#hiraeth{
  grid-area: tall1;
}
#ht{
  grid-area: tall2;
}
#dlc{
  grid-area: tall3;
}
#opgcb{
  grid-area: tall4;
}
#chibi{
  grid-area: square1;
}
#wow{
  grid-area: square2;
}