:root{
  --plum: #6F1D1B;
  --camel: #BB9457;
  --bistre: #432818;
  --brown: #99582A;
  --banana: #FFE6A7;
  }
body{
  background-color:var(--camel);
  margin: 10px;
}
h1{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 48px;
  text-align:center;
}
h2{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36px;
  color:var(--plum);
  background-color: var(--banana);
}
h3{
  font-family: Montserrat;
  font-size:28px;
}
h4{
  font-family: Montserrat;
  font-size: 24px;
}
h5{
  font-family: Montserrat;
  font-size: 20px;
}
h6{
  font-family: Montserrat;
  font-size:16px;
}
p{
  font-family: Frank+Ruhl+Libre;
  font-size: 14px;
}
button{
  /* font-family: Frank+Ruhl+Libre; */
  background-color: var(--brown);
  color: white;
  padding: 13px;
  border-radius: 10px;
  /* How to align content to center */

}
button:hover{
  background-color: var(--bistre);
}
#buttons{
  display:flex;
}
.options{
  flex-grow: 1;
  width: auto;
  text-align: center;
}
#mixMatch{
  display:flex;
  justify-content: center;
}
