:root{
  --plum: #6F1D1B;
  --camel: #BB9457;
  --bistre: #432818;
  --brown: #99582A;
  --banana: #FFE6A7;
  }
body{
  background-color:var(--camel);
  margin: 10px;
}
h1{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 48px;
  text-align:center;
}
h2{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36px;
  color:var(--plum);
  background-color: var(--banana);
  padding: 5px;
}
h3{
  font-family: Montserrat;
  font-size:28px;
}
h4{
  font-family: Montserrat;
  font-size: 24px;
}
h5{
  font-family: Montserrat;
  font-size: 20px;
}
h6{
  font-family: Montserrat;
  font-size:16px;
}
p{
  font-family: Frank+Ruhl+Libre;
  font-size: 14px;
}
button{
  /* font-family: Frank+Ruhl+Libre;  */
  background-color: var(--brown);
  color: white;
  padding: 13px;
  border-radius: 10px;
  margin: 10px;

}
button:hover{
  background-color: var(--bistre);
}
span{
  display: block;
}
img{
  width: 50vw;
  display: block;
  margin:auto;
  margin-top:10px;
  padding: 7px;
}
hr{
  /* https://www.w3schools.com/howto/howto_css_style_hr.asp */
  border-top: 5px solid var(--bistre);
  /*making the border on left, right, and bottom disappear so it's just a single line*/
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 20px;
}
#buttons{
  display:flex;
}
.options{
  flex-grow: 1;
  width: auto;
  text-align: center;
}
.content{
  display: none;
}
.active{
  /* Literally do nothing, I just need you so I can identify what's active */
}
#mixMatch{
  display:block;
  margin:auto;
  text-align: center;
  /* https://stackoverflow.com/questions/15300234/how-can-i-horizontally-center-a-button-element-in-a-div-element/15300266 */
}
#inspiration{
  /* background-color: var(--brown); */
  border-radius: 15px;
  border: 2px solid var(--bistre);
}
#inspiration h4{
  padding: 10px;
  margin: 5px;
}
#photoContent, #mixPhoto{
  background-color: var(--banana);
  width: 53vw;
  margin: auto;
  padding: 1%;
  margin-top: 15px;
}
#content p{
  text-align: center;
}
#content h2{
  text-align: center;
}
