body{
  background-color: black;
}
h1, h2{
  color: red;
  font-family: "Architects Daughter", cursive;
}
p{
  color:red;
  font-family: "Montserrat";
}
img{
  float: right;
  width: 50vw;
  padding: 8px;
}
button{
  background-color: red;
  font-family: "Montserrat";
  padding: 10px;
}
#origin{
  font-style: italic;
}
#quote{
  border-style: dotted;
  padding: 10px;
  overflow: hidden;
}
