:root{
  --bg: #0b0015;
  --frame: #4e0a1c;
  --accentOne: #d1a900;
  --accentTwo: #fc8a08;
  --accentThree: #b3000d;
  }
body{
  background-color:var(--bg);
  margin: 0vw;
}
p{
  color: white;
  margin: 2vw;
  font-family: "Poppins";
}
h1{
  color: white;
  font-family: "Bebas Neue", cursive;
}
h2{
  color: white;
  font-family: "Bebas Neue", cursive;
}
a:link{
  color: var(--accentTwo);
}
a:visited{
  color: gray;
}
#hero{
  width:100vw;
  height:30vh;
  overflow:hidden;
  margin:0px;
  padding:0px;
  top: 0px;
  position: relative;
}

#heroimg{
  width:120vw;
  position: relative;
  z-index: 0;
  bottom: 300px;
  /*right:100px; */
  margin: 0px;
  object-fit: cover;
}

#hero h1{
  z-index:1;
  position:relative;
  font-size:5vw;
  top:50px;
  text-align: center;
  margin: 0px;
}
#heroName{
  /* putting in a background color so if it ends up on a white spot, it's not bad */
  /* https://stackoverflow.com/questions/14310154/how-do-i-set-a-background-color-for-the-width-of-text-not-the-width-of-the-enti */
  /* Using span so the background color is condensed to around the words, and not across the entire page */
  /* https://stackoverflow.com/questions/5135019/css-opacity-only-to-background-color-not-the-text-on-it */
  /* Use RGBA to set opacity */
  background: rgba(0, 0, 0, .8);
  padding: 10px;
}
#projContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 3px purple solid; */
  margin: 10px;
}
#projContainer a{
  /* Removing underline for all of the text that's a link */
  text-decoration: none;
}

div{
  color:var(--frame);
  margin: 5px;
  padding: 10px;
}
.topnav {
  background-color: var(--bg);
  overflow: hidden;
  border-bottom: 3px var(--accentOne) solid;
}
.topnav a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--accentOne);
  font-size: 28px;
  font-family: "Bebas Neue", cursive;
}
.topnav a:hover{
  background-color: var(--frame);
}
.topnav a.active{
  background-color: var(--accentOne);
  color: black;
}
.frame{
  background-color: var(--frame);
  padding: 15px;
}
/* https://www.ankursheel.com/blog/full-width-you-tube-video-embed */
.video{
  width: 100%;
  height: 100%;
}
#profileFrame{
  float: right;
  width: 30vw;
  height: 30vw;
  margin: 1vw;
}
#profilePic{
  float:right;
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  object-position: top;
}
#videoContainer{
  float:right;
  width: 32vw;
  height: 18vw;
  margin: 1vw;
}
.centered{
  /* https://www.w3schools.com/howto/howto_css_image_center.asp */
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.singleProject{
  background-color: var(--frame);
  margin: 10px;
}
.singleProject:hover{
  /* opacity notes: https://www.w3schools.com/cssref/css3_pr_opacity.asp */
  opacity: .5;
  background: gray;
}
.projectImg{
  /* these all work together to make the images centered */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* This makes it square */
  height: 20vh;
  width: 20vh;
  /*make it so the images don't warp*/
  object-fit: cover;
}
.blogTile{
  background-color: var(--frame);
  width: 40vw;
}
#travelTile{
  float:right;
}
#wipTile{
  float: left;
}
#photoTile{
  float: right;
}
#resumePic{
  width: 90vw;
}
button{
  background-color: var(--frame);
  border: 3px solid var(--accentOne);
  padding: 12px;
  color: var(--accentOne);
  font-family: "bebas Neue", cursive;
  /* HOW TO ALIGN BUTTONS */
}
/* Stuff for the gallery page */
.galleryContainer{
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 25vw 25vw 25vw 25vw 25vw 25vw 25vw 25vw;
}
.galleryPics{
  object-fit: cover;
  width: 100%;

  overflow:'hidden';
  background-size: contain;
}
