:root{
  /* --bg: #0b0015; */
  --bg: pink;
  --frame: #4e0a1c;
  --accentOne: #d1a900;
  --accentTwo: #orange;
  --accentThree: #FFE6A7;
  }
body{
  background-color:var(--bg);
  margin: 0vw;
}
p{
  color: white;
  margin: 2vw;
  font-family: "Poppins";
}
h1{
  color: white;
  font-family: "Bebas Neue", cursive;
}
h2{
  color: white;
  font-family: "Bebas Neue", cursive;
}
a:link{
  color: var(--accentTwo);
}
a:visited{
  color: gray;
}
#hero{
  width:100vw;
  height:30vh;
  overflow:hidden;
  margin:0px;
  padding:0px;
  top: 0px;
  position: relative;
}

#heroimg{
  width:120vw;
  position: relative;
  z-index: 0;
  bottom: 300px;
  /*right:100px; */
  margin: 0px;
  object-fit: cover;
}

#hero h1{
  z-index:1;
  position:relative;
  font-size:5vw;
  top:50px;
  text-align: center;
  margin: 0px;
}
#projContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 3px purple solid;
  margin: 10px;
}
div{
  color:var(--frame);
  margin: 5px;
  padding: 10px;
}
.topnav {
  background-color: var(--bg);
  overflow: hidden;
  border-bottom: 3px var(--accentOne) solid;
  position: sticky;
}
.topnav a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--accentOne);
  font-size: 28px;
  font-family: "Bebas Neue", cursive;
}
.topnav a:hover{
  background-color: var(--frame);
}
.topnav a.active{
  background-color: var(--accentOne);
  color: black;
}
.frame{
  background-color: var(--frame);
  padding: 15px;
}
#profileFrame{
  float: right;
  width: 30vw;
  height: 30vw;
  margin: 1vw;
}
#profilePic{
  float:right;
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  object-position: top;
}
.centered{
  /* https://www.w3schools.com/howto/howto_css_image_center.asp */
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.singleProject{
  background-color: var(--frame);
}
.projectImg{
  width: 20vw;
}
.blogTile{
  background-color: var(--frame);
  width: 40vw;
}
#travelTile{
  float:right;
}
#wipTile{
  float: left;
}
#photoTile{
  float: right;
}

button{
  background-color: var(--frame);
  border: 3px solid var(--accentOne);
  padding: 12px;
  color: var(--accentOne);
  font-family: "bebas Neue", cursive;
  /* HOW TO ALIGN BUTTONS */
}
